// https://chir.ag/projects/name-that-color/#6195ED
// Note: Used to be defined in foundation _settings.scss
// should be removed
$primary-color: #1779ba;
// Primary palette
$colour-sapphire-blue: #014371;
$colour-sea-blue: #00639a;
$colour-vivid-cerulean: #00a6d5;
$colour-medium-turquoise: #46d6fa;
$colour-gainsborough: #d2dce3;
// Grey palette
$colour-yankees-blue: #161d39;
$colour-independence: #4e5a71;
$colour-weldon-blue: #8194a1;
$colour-pastel-blue: #abc7d6;
$colour-platinum: #e4e8eb;
$colour-sky-white: #fbfeff;
// Curation
$colour-buddha-gold: #c39b00;
$colour-silver: #c0c0c0;
// Namespaces
$colour-jaffa: #f2994c;
$colour-de-york: #88c19d;
$colour-terracotta: #e56358;
$colour-amethyst: #a748bd;
$colour-calypso: #357b92;
$colour-cerulean: #00a6d5;
$colour-turmeric: #b8ce48;
$colour-sunglow: #ffcc33;
$colour-froly: #f36968;
$colour-salem: #108f3b;
$colour-malibu: #79cbf8;
// Data vis
$colour-coyote-brown: #966336;
$colour-outer-space: #374343;
