@import '../colours';

// PRIMARY
.colour-primary-500 {
  background: map-get($franklin-colours, colourPrimary500);
  color: map-get($franklin-colours, colourGreyscale100);
}
.colour-primary-400 {
  background: map-get($franklin-colours, colourPrimary400);
  color: map-get($franklin-colours, colourGreyscale100);
}
.colour-primary-300 {
  background: map-get($franklin-colours, colourPrimary300);
  color: map-get($franklin-colours, colourGreyscale100);
}
.colour-primary-200 {
  background: map-get($franklin-colours, colourPrimary200);
  color: map-get($franklin-colours, colourGreyscale600);
}
.colour-primary-100 {
  background: map-get($franklin-colours, colourPrimary100);
  color: map-get($franklin-colours, colourGreyscale600);
}

// GREY
.colour-greyscale-600 {
  background: map-get($franklin-colours, colourGreyscale600);
  color: map-get($franklin-colours, colourGreyscale100);
}
.colour-greyscale-500 {
  background: map-get($franklin-colours, colourGreyscale500);
  color: map-get($franklin-colours, colourGreyscale100);
}
.colour-greyscale-400 {
  background: map-get($franklin-colours, colourGreyscale400);
  color: map-get($franklin-colours, colourGreyscale100);
}
.colour-greyscale-300 {
  background: map-get($franklin-colours, colourGreyscale300);
  color: map-get($franklin-colours, colourGreyscale600);
}
.colour-greyscale-200 {
  background: map-get($franklin-colours, colourGreyscale200);
  color: map-get($franklin-colours, colourGreyscale600);
}
.colour-greyscale-100 {
  background: map-get($franklin-colours, colourGreyscale100);
  color: map-get($franklin-colours, colourGreyscale600);
}
// CURATION
.colour-reviewed {
  background: map-get($franklin-colours, colourReviewed);
  color: map-get($franklin-colours, colourGreyscale600);
}
.colour-unreviewed {
  background: map-get($franklin-colours, colourUnreviewed);
  color: map-get($franklin-colours, colourGreyscale600);
}
// NAMESPACE
.colour-uniprotkb {
  background: map-get($franklin-colours, colourUniprotkb);
  color: map-get($franklin-colours, colourGreyscale600);
}
.colour-uniref {
  background: map-get($franklin-colours, colourUniref);
  color: map-get($franklin-colours, colourGreyscale600);
}
.colour-uniparc {
  background: map-get($franklin-colours, colourUniparc);
  color: map-get($franklin-colours, colourGreyscale600);
}
.colour-proteomes {
  background: map-get($franklin-colours, colourProteomes);
  color: map-get($franklin-colours, colourGreyscale100);
}
.colour-supporting-data {
  background: map-get($franklin-colours, colourSupportingData);
  color: map-get($franklin-colours, colourGreyscale100);
}
.colour-peptide-search {
  background: map-get($franklin-colours, colourPeptideSearch);
  color: map-get($franklin-colours, colourGreyscale100);
}
.colour-id-mapping {
  background: map-get($franklin-colours, colourIdMapping);
  color: map-get($franklin-colours, colourGreyscale100);
}
.colour-blast {
  background: map-get($franklin-colours, colourBlast);
  color: map-get($franklin-colours, colourGreyscale100);
}
.colour-align {
  background: map-get($franklin-colours, colourAlign);
  color: map-get($franklin-colours, colourGreyscale100);
}

// svg fills
.svg-colour-reviewed svg {
  color: map-get($franklin-colours, colourReviewed);
}
.svg-colour-unreviewed svg {
  color: map-get($franklin-colours, colourUnreviewed);
}

// messages
.colour-warning {
  background: map-get($franklin-colours, colourWarning);
}
.colour-failure {
  background: map-get($franklin-colours, colourFailure);
}
.colour-success {
  background: map-get($franklin-colours, colourSuccess);
}
.colour-info {
  background: map-get($franklin-colours, colourInfo);
}

// Data visualisation
.colour-coyote-brown {
  background: map-get($franklin-colours, colourDataVis1);
}
.colour-outer-space {
  background: map-get($franklin-colours, colourDataVis2);
}

.box-colour {
  vertical-align: top;
  display: inline-block;
  width: 9em;
  height: 9em;
  margin-bottom: 4em;
  font-size: $small-font-size;
  &:before {
    content: attr(data-name);
    color: map-get($franklin-colours, colourGreyscale600);
    margin-top: 10em;
    display: block;
    text-align: center;
  }
}
