@import '../settings';
@import '../colours';

.icon {
  &--reviewed {
    color: map-get($franklin-colours, colourReviewed);
  }
  &--unreviewed {
    color: map-get($franklin-colours, colourUnreviewed);
  }
  &--uniparc {
    color: map-get($franklin-colours, colourUniparc);
  }
}
